.fc .fc-toolbar-title {
  font-size: 2em;
  text-transform: capitalize;
}

.fc {
  font-family: "Verdana", serif;
}

.fc-event-time {
  background-color: #215a91;
  border-bottom: solid 1px;
  text-align: center;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 0px;
}

.fc .fc-daygrid-event {
  margin-top: 2px;
}

.fc-event-title{
   white-space:break-spaces;
}

.fc-h-event .fc-event-main-frame {
  display: block;
}
.fc-timegrid-event, .fc-timegrid-more-link{
  font-size: 0.9vmax;
}
.fc-v-event .fc-event-title-container{
  padding: 2%;
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding-top: 2px;
  padding-bottom: 4px;
}

.fc .fc-daygrid-day-number {
  font-size: 1.25em;
}

.fc .fc-button {
  font-size: min(1.5vw, 1.25em);
}

.fc-timegrid-slot {
    height: 3.3vh !important
}

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #3399ff;
  color: #FFFFFF;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}

.style5 .tooltip {
  background: #3399ff;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {

  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #3399ff;
}

.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}